# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Build tools
node_modules/
dist/
__pycache__/

# Utility scripts
*.py

# Temp files
*.tmp
*.log

# Environment & Secrets
.env
.env.*
.env.local

.vercel
